body{
    background-color: bisque;
}

.header{
    align-content: center;
    background-color: rgb(114, 206, 206);
    margin: 10px;
    padding: 20px;
}

#contenedor {
    margin: 30px;
    padding: 10px;
    background-color: aquamarine;
}

.contenedor2 {
    display: flex;
}

.caja {
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    background-color: rgb(196, 94, 94);
    height: 230px;
    width: 220px;
}

h1 {
    color: blue;
    font-size : 3em;
    text-decoration: underline;
}

li{
    list-style-type: upper-roman ;
    margin-left: 20px;
}

ul {
    list-style-type: upper-roman ;
    margin-left: 30px;
}

p{
    color: blueviolet;
    font-size: 1.3em;
}